@font-face {
	font-family: metropolis;
	src: url("../fonts/Metropolis-Regular.otf");
}
@font-face {
	font-family: metropolis-bold;
	src: url("../fonts/Metropolis-Bold.otf");
}
@font-face {
	font-family: metropolis-light;
	src: url("../fonts/Metropolis-Light.otf");
}
body {
	margin: 0;
	padding: 0;
	font-family: metropolis;
	background-color: #f2f3f4;
}

nav {
	max-width: 100vw;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 1px solid #ccc;
	flex-wrap: wrap;
	background-color: white;
}
.nav-action {
	width: fit-content;
	display: flex;
	cursor: pointer;
}
.nav-action__item {
	font-weight: bold;
	display: flex;
	width: fit-content;
	min-width: 10rem;
	align-items: center;
	gap: 0.5rem;
}
.nav-action__item > img {
	max-width: 2rem;
}
.nav_options {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 1rem 0;
	border: 1px solid #ccc;
	flex-wrap: wrap;
	background-color: white;
}

.nav_options > a {
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 0.75rem;
}

.wraper {
	display: flex;
	gap: 1rem;
	padding: 0.5rem;
	border: 1px solid #ccc;
	margin-left: 3rem;
}
.nav-baner {
	padding: 0.1rem;
}

.nav-baner__cart-info {
	font-size: 0.7rem;
	padding: 0.75rem 1.5rem 0 1.5rem;
}

.nav-baner__cart-info > p:first-of-type {
	font-weight: bold;
	margin: 0;
	margin-bottom: 0.25rem;
	padding-right: 2rem;
}

.nav-baner__cart-icon {
	border-right: 1px solid #ccc;
	padding: 0.5rem;
	padding-right: 1.5rem;
	position: relative;
}

.nav-baner__cart-icon > img {
	width: 2.5rem;
}

.nav-baner__cart-arrow {
	background-color: #9bcb3b;
	padding: 1rem 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-baner__cart-arrow > img {
	width: 0.75rem;
}

.nav-baner__cart {
	display: flex;
}

.cart__amount {
	background-color: #9bcb3b;
	position: absolute;
	top: 0.45rem;
	right: 0.7rem;
	color: white;
	font-size: 0.6rem;
	padding: 0.15rem;
}

.main_banner {
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin: auto;
}

.banner_wraper > img {
	max-width: 100%;
}

.banner_wraper {
	position: relative;
}

.main_banner-img-cover {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
	width: 100%;
	height: 99%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main_banner-img-cover > p {
	margin: 0;
	padding-left: 10rem;
}

.main_banner-img-cover > p:first-of-type {
	font-family: metropolis-bold;
	font-size: 2.5rem;
}

.main_banner-img-cover > p:nth-of-type(2) {
	font-family: metropolis-light;
	font-size: 2.5rem;
}

.main_banner-img-cover > p:nth-of-type(3) {
	/* font-family: metropolis-light; */
	font-size: 1.25rem;
	max-width: 22rem;
	margin: 1.5rem 0;
}

.main_banner-img-cover > button {
	background-color: #f74137;
	padding: 1rem 2.5rem;
	color: white;
	border: none;
	max-width: fit-content;
	margin-left: 10rem;
	cursor: pointer;
}
.white_logo {
	background-color: white;
	-webkit-mask: url("../icons/icon_04.svg") no-repeat center;
	mask: url("../icons/icon_04.svg") no-repeat center;
	width: 1rem;
	height: 1rem;
}
.banner__left-controll,
.banner__right-controll {
	width: fit-content;
	height: fit-content;
	padding: 1rem 1.5rem;
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
.banner__left-controll > img,
.banner__right-controll > img {
	width: 1rem;
}

.banner__left-controll {
	margin: auto 0;
}

.banner__right-controll {
	margin: auto 0 auto auto;
}

.quick_helpers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0 1rem 1rem;
	gap: 1rem;
	max-height: 20rem;
	overflow: hidden;
}

.quick_helpers-option {
	min-height: 20rem;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.quick_helpers-photo-cover {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.quick_helpers-option:first-of-type {
	background-image: url("../photos/img_02.jpg");
}
.quick_helpers-option:nth-of-type(2) {
	background-image: url("../photos/img_03.jpg");
}
.quick_helpers-option:nth-of-type(3) {
	background-image: url("../photos/img_05.jpg");
}
.quick_helpers-photo-cover > p {
	margin: 0;
	padding-left: 2rem;
}

.quick_helpers-photo-cover > p:first-of-type {
	font-family: metropolis-bold;
	font-size: 2rem;
}

.quick_helpers-photo-cover > p:nth-of-type(2) {
	font-family: metropolis-light;
	font-size: 2rem;
}

.quick_helpers-photo-cover > button {
	background-color: transparent;
	color: white;
	border: 1px solid #ffff;
	padding: 1rem 2rem;
	max-width: fit-content;
	margin-left: 2rem;
	margin-top: 1.5rem;
	cursor: pointer;
}

.recomendations {
	position: relative;
}

.recomendations > h1 {
	font-family: metropolis-bold;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	/* padding-bottom: 1rem; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.orange_markup {
	width: 3rem;
	height: 0.2rem;
	background-color: #f74137;
	margin-top: 1rem;
}

.recomendations {
	width: 100vw;
}

.recomendations_products {
	padding: 1rem;
	display: flex;
	overflow-x: auto;
	gap: 1rem;
}

.recomendations_products-prod {
	background-color: white;
	width: fit-content;
	padding: 1rem 1.5rem 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	cursor: pointer;
}

.recomendations_products-prod-info {
	text-align: center;
}

.recomendations_products-prod-info > p {
	margin: 0.1rem;
}
.recomendations_products-prod-info > p:nth-of-type(1) {
	font-weight: bold;
	font-size: 0.95rem;
}
.recomendations_products-prod-info > p:nth-of-type(2) {
	font-size: 0.85rem;
}

.recomendations_products-prod-price > p {
	font-weight: bold;
	margin: 0;
}
.recomendations_products-prod-price > s {
	color: #ccc;
}

.inspiration_btn {
	background-color: #f74137;
	color: white;
	padding: 1rem 3rem;
	border: none;
	margin: 3rem auto;
	cursor: pointer;
}

.insp_wrapper {
	width: 100%;
	display: flex;
	align-items: center;
}

.why_us {
	background: url(".. /photos/img_07.jpg");
	min-height: 35rem;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}
.why_us_cover {
	background: rgba(0, 0, 0, 0.35);
	width: 100%;
	min-height: 35rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.why_us_cover > h1 {
	font-family: metropolis-bold;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgb(155, 155, 155);
	width: 100%;
	align-items: center;
}

.why_us_cover > p {
	max-width: 55rem;
	text-align: center;
}

.advantages {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

.advantages_op {
	border: 1px solid rgb(171, 171, 171);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.advantages_op > p {
	margin: 0;
	margin-top: 1.5rem;
}

.footer {
	background-color: #393e40;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 2rem;
	gap: 3rem;
	color: white;
}
.footer_section > h3 {
	width: 100%;
	border-bottom: 1px solid rgb(171, 171, 171);
	position: relative;
	padding-bottom: 1rem;
}
.footer_section > h3 > .orange_markup {
	position: absolute;
	left: 0;
	bottom: -1px;
	z-index: 2;
	height: 1px;
}

.footer_section > ul {
	list-style: none;
	display: grid;
	gap: 2rem;
	padding: 0;
	margin-top: 3rem;
}

.footer_section > ul > li {
	font-size: 0.8rem;
	cursor: pointer;
}
