* {
	margin: 0;
	padding: 0;
}
.nav {
	display: flex;
	border: 3px solid black;
	position: -webkit-sticky;
	width: 100%;
	height: 100px;
	background-color: #fff;
	top: 0;
	flex-wrap: wrap;
	text-align: left;
}
.nav-item {
	display: flex;
	margin: auto;
	padding: 10px;
}
.nav-item .icon-phone {
	width: 30px;
	height: 10px;
}
.nav-item .icon-star {
	width: 30px;
	height: 10px;
}
.nav-item .icon-icon_01 {
	width: 30px;
	height: 10px;
}
.nav-item .icon-cart {
	width: 30px;
	height: 10px;
}
.logo {
	justify-content: flex-start;
	margin: 20px 30px;
}
