* {
	margin: 0;
	padding: 0;
}
.logo {
	width: 600px;
	min-width: 50px;
	height: 50px;
}
.header {
	display: flex;
	border-bottom: 2px solid black;
	position: -webkit-sticky;
	width: 100%;
	min-width: 0;
	height: 100px;
	background-color: #fff;
	top: 0;
	flex-wrap: wrap;
	text-align: right;
}

.header-item {
	display: flex;
	margin: auto;
	padding: 10px;
	text-decoration: none;
	word-spacing: 1px;
}
.header-item .logo {
	display: flex;
	text-align: left;
	word-spacing: 1px;
}
.header-item .icon-phone {
	width: 30px;
	height: 10px;
	text-decoration: none;
	word-spacing: 1px;
}
.header-item .icon-star {
	width: 30px;
	height: 10px;
	text-decoration: none;
	word-spacing: 1px;
}
.header-item .icon-icon_01 {
	width: 30px;
	height: 10px;
	text-decoration: none;
	word-spacing: 1px;
}
.header-item .icon-cart {
	width: 30px;
	height: 10px;
	text-decoration: none;
	word-spacing: 1px;
}
.logo {
	justify-content: flex-start;
	margin: 20px 30px;
}
li {
	list-style-type: none;
	padding-left: 30px;
	text-align: center;
}
body {
	font-size: 20px;
}
h1 {
	padding: -30px;
	width: 300px;
}
nav {
	font-size: 15px;
	padding: -30px;
	list-style-type: none;
	display: flex;
	border-bottom: 1px solid black;
}
a {
	color: black;
	text-decoration: none;
}
ul li a {
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 2px;
	transition: 0.3s;
}
ul li a:hover {
	color: royalblue;
	background-color: white;
}
.section1 img{
	display: block;
	margin: 0 auto;
	width: 1350px;
	height: 400px;
	border-radius: 10px;
	border: 2px solid black;
	border-color: black;
}